*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}

html{
  scroll-behavior: smooth;
}

.offset{
  content: " ";
  display: block;
  margin-top: 10px;
  padding-top: 90px;
}

body{
    font-family: montserrat;
    width: 100%;
}
nav {
	background: #130f40;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
nav .logo {
	color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav .links {
	padding: 0;
	margin: 0;
	width: 55%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
nav .links li {
	display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav .links a {
	color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
    cursor: pointer;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 80px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

section {
  padding: 1rem ;
}
.home {
  height: calc(110vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(../images/home_bg_img.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 5.5rem;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .home
  .content .h3 {
    text-align: center;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
    width: 100%;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
    padding-left: 45px;
}

.about .image img {
  width: 85%;
  border-radius: 5px;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
          align-items: center;
}

.about .content h3 {
  color: #130f40;
  font-size: 4rem;
  text-align: center;
}

.about .content h3 span {
  color: #e67e22;
}

.about .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
  text-align: center;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: #130f40;
}

.heading span {
  color: #e67e22;
}
.shop .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
    width: 100%;
}

.shop .box-container .box {
  position: relative;
  overflow: hidden;
  background:white;
  border-radius: 5px;
  height: 100%;
  border: 2px solid #130f40;
}

.shop .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .box-container .box .image {
  width: 100%;
  overflow: hidden;
}

.shop .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


.shop .box-container .box .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .box-container .box .content h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding-bottom: .5rem;
}

.bcolor{
  background-color: #ddd;

}
.main {
   margin: auto;
   max-width: 1000px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.product {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #130f40;
}
.product,
.product > img{
   border-bottom: 2px solid #130f40;
}
.product,
.product > .h3{
    color: #130f40;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.contact {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  
}

.contact .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .image img {
  width: 100%;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 1rem 5%;
}


.contact form .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.contact form .btn:hover {
  background: #130f40;
  color: white;
}

.contact form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;   
}

.contact form .box, .contact form textarea {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  padding: 1.5rem 0;
  margin: 1rem 0;
  border-color: transparent;
  border-bottom-color: black;
}

.contact form textarea {
  height: 10rem;
  resize: none;
  border-color: transparent;
  border-bottom-color: black;
}

.footer {
  position: relative;
  background: url(../images/footer_background.jpg) no-repeat;
  background-position: center;
  background-size: center;
    width: 100%;
}

.footer .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}


.footer .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border-color: black;
}
.footer .btn:hover {
  background: #130f40;
  color: white;
}
.footer .share a i {
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.footer .credit span {
  color: #e67e22;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #ddd;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
.mySlides .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.mySlides .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}